In [1]:
import schemas

In [2]:
from fastapi.encoders import jsonable_encoder

In [3]:
from typing import List, Union

In [4]:
fpmk_1 = schemas.Fpmk(date='2021-03-31', fpmk=12, subsystem='DOR', system='RSC')

In [5]:
fpmk_2 = schemas.Fpmk(date='2021-04-30', fpmk=13, subsystem='DOR', system='RSC')

In [6]:
fpmk_3 = schemas.Fpmk(date='2021-05-31', fpmk=18, subsystem='DOR', system='RSC')

In [7]:
fpmk_list = [fpmk_1, fpmk_2, fpmk_3]

In [27]:
import pandas as pd
import json

In [54]:
df = pd.DataFrame(data=jsonable_encoder(fpmk_list))

In [55]:
df['date'] = pd.to_datetime(df['date'])

In [56]:
res = []
for item in json.loads(df.to_json(orient='records')):
    res.append(schemas.Fpmk(**item))

In [57]:
res

[Fpmk(system='RSC', subsystem='DOR', fpmk=12, date=datetime.date(2021, 3, 31)),
 Fpmk(system='RSC', subsystem='DOR', fpmk=13, date=datetime.date(2021, 4, 30)),
 Fpmk(system='RSC', subsystem='DOR', fpmk=18, date=datetime.date(2021, 5, 31))]

In [58]:
df.set_index('date', inplace=True)

In [65]:
df = df.asfreq('M')

In [97]:
df['system'].mode().values[0]

'RSC'

In [72]:
df['fpmk'].index.shift(1)[-1]

Timestamp('2021-06-30 00:00:00', freq='M')

In [98]:
res = df['fpmk']

In [99]:
res

date
2021-03-31    12
2021-04-30    13
2021-05-31    18
Freq: M, Name: fpmk, dtype: int64

In [100]:
res = pd.DataFrame(res, columns=['fpmk'])

In [101]:
res

            fpmk
date
2021-03-31    12
2021-04-30    13
2021-05-31    18

In [82]:
res['sys_cd'] = 'RSC'

In [83]:
res

            fpmk sys_cd
date
2021-03-31    12    RSC
2021-04-30    13    RSC
2021-05-31    18    RSC